# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable threejs-examples': 'threejs-examples:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'threejs-examples'
      'submenu': [
        { 'label': 'Example1', 'command': 'threejs-examples:toggle' }
        { 'label': 'Example2', 'command': 'threejs-examples:example2' }
      ]
    ]
  }
]
